/*
Palette:
http://www.colourlovers.com/palette/2398684/Speechless
http://www.colourlovers.com/palette/2505309/Colorful_Day



red EC4401
    D6332B
brown CC9B25
orange FF6A00
green 13CD4A
      4DD62B

blue 7B6ED6
     3A85D6

dark 5E525C

* possibly add SE logo at title;
* add font-faces
* tamanho das fontes
  * variar as fontes
* adicionar o icone do cars.com

recomendar talk sobre IE Driver
*/
@font-face {
  font-family: "Franchise";
  src: url("../fonts/Franchise-Bold.ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("../fonts/YanoneKaffeesatz-Regular.otf"); }

@font-face {
  font-family: "Graffiti Crayon";
  src: url("../fonts/Smudgie Crayon.ttf"); }

body {
  background-color: white; }

.reveal {
  font-family: 'Yanone Kaffeesatz';
  color: #5e525c;
  font-size: 60px; }
  .reveal ul {
    list-style-type: none; }
  .reveal a {
    text-decoration: none;
    font-size: 40px; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  line-height: 0.9em;
  text-transform: uppercase; }

.reveal {
  /*
    credentials
  */
  /*
      Slide-specific
  */ }
  .reveal quote {
    font-style: italic;
    font-size: 50px; }
  .reveal span.huge {
    font-size: 250px; }
  .reveal span.big {
    font-size: 150px; }
  .reveal .blockish {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .reveal .dark-highlight-bg {
    color: white; }
  .reveal .red_1 {
    color: #EC4401; }
  .reveal .red_2 {
    color: #D6332B; }
  .reveal .brown {
    color: #CC9B25; }
  .reveal .orange {
    color: #FF6A00; }
  .reveal .green_1 {
    color: #13CD4A; }
  .reveal .green_2 {
    color: #4DD62B; }
  .reveal .blue_1 {
    color: #7B6ED6; }
  .reveal .blue_2 {
    color: #3A85D6; }
  .reveal .dark {
    color: #5E525C; }
  .reveal .yellow {
    color: #FFE700; }
  .reveal span.huh {
    font-size: 70px;
    color: #fff; }
  .reveal .github {
    color: #ec4401; }
  .reveal .pagseguro-team {
    color: #ec4401; }
  .reveal .boston {
    color: #ffe700;
    font-family: 'Franchise'; }
  .reveal .dark-slide {
    color: #ec4401; }
  .reveal #title {
    font-family: 'Franchise'; }
    .reveal #title h1 {
      font-size: 200px;
      color: #ec4401; }
    .reveal #title span {
      font-size: 200px;
      color: #5e525c; }
  .reveal #about-me img {
    padding-bottom: 1.5em;
    padding-right: 4em; }
  .reveal #about-me ul {
    list-style-type: none; }
  .reveal #about-me ul li {
    padding-top: 0.7em; }
  .reveal #como-estao {
    font-size: 40px; }
    .reveal #como-estao .companies img {
      margin-left: 1em; }
  .reveal .salesforce {
    color: #5e525c; }
  .reveal #salesforce-tests {
    font-size: 50px; }
  .reveal #salesforce-autotest h1 {
    font-family: 'Franchise';
    font-size: 200px; }
  .reveal #salesforce-grid h1 {
    font-size: 200px;
    color: #3a85d6; }
  .reveal #salesforce-grid ul {
    list-style-type: none; }
    .reveal #salesforce-grid ul li {
      display: inline;
      padding-left: 0.7em; }
  .reveal #salesforce-why ul li {
    padding-top: 0.4em; }
  .reveal #salesforce-flaky {
    color: #ec4401; }
  .reveal .cars {
    color: white; }
  .reveal #salesforce-commit {
    color: #ec4401; }
  .reveal #salesforce-1 {
    font-size: 48px; }
  .reveal #cars-testing span {
    color: #3a85d6; }
  .reveal #cars-releases #bottom-shoryuken {
    position: absolute;
    bottom: -60px;
    left: -20px; }
  .reveal #cars-releases #low-blow {
    color: orange;
    font-size: 100px; }
  .reveal #cars-releases #high-blow {
    color: #d6332b;
    font-size: 150px; }
  .reveal #cars-releases #top-shoryuken {
    position: absolute;
    top: -20px;
    right: -20px; }
  .reveal #cars-stack {
    font-size: 90px; }
    .reveal #cars-stack #manual {
      color: #fff; }
    .reveal #cars-stack #auto {
      color: #ec4401; }
  .reveal #cars-ps-comparison {
    color: #13cd4a; }
  .reveal #releases-ps {
    display: inline; }
  .reveal #releases-ps-number {
    font-size: 250px; }
  .reveal #facebook-title h1 {
    color: #fff; }
  .reveal #facebook-why-it-works {
    color: #fff; }
  .reveal #facebook-optin {
    color: #3a85d6; }
    .reveal #facebook-optin .huge {
      font-size: 200px; }
  .reveal #facebook-code-change .special-branches {
    color: #d6332b;
    font-weight: bold; }
  .reveal .facebook .focus {
    color: #3a85d6; }
  .reveal #facebook-test-suite {
    font-size: 110px; }
    .reveal #facebook-test-suite ul {
      list-style-type: none; }
  .reveal #facebook-more-about-tests {
    font-size: 75px; }
    .reveal #facebook-more-about-tests ul {
      list-style-type: none; }
  .reveal .groupon {
    color: #fff; }
    .reveal .groupon .focus-ie {
      color: #5fccf8; }
    .reveal .groupon .focus {
      color: #ec4401; }
  .reveal #groupon-title {
    font-size: 50px; }
  .reveal #groupon-tests ul {
    list-style-type: none; }
  .reveal #groupon-tests .focus {
    font-size: 120px; }
  .reveal .learned {
    color: #fff;
    font-family: 'Graffiti Crayon';
    font-size: 80px; }
    .reveal .learned ul {
      list-style-type: none;
      font-size: 90px;
      letter-spacing: 0.1em; }
    .reveal .learned h3 {
      font-size: 200px; }
    .reveal .learned .gangnam {
      font-size: 50px; }
  .reveal .tools ul {
    list-style-type: disc; }
  .reveal .tools .focus {
    color: #d6332b; }
  .reveal .layout .ok {
    color: #13cd4a; }
  .reveal .layout ul {
    list-style-type: disc; }
  .reveal .layout .focus {
    color: #ff6a00; }
  .reveal .continuous-improvement .focus {
    color: #ff6a00; }
  .reveal .continuous-improvement code {
    font-size: 30px; }
  .reveal .state-union .focus {
    color: #ff6a00; }
  .reveal .state-union code {
    font-size: 28px; }
  .reveal .cars .focus {
    font-size: 100px;
    color: #d6332b; }
